.button-grey{
    height: var(--gap-1);
    width: max-content;
    padding: 0 var(--gap-6);
    font-weight: var(--font-weight-2);
    font-size: var(--font-3);
    background-color: var(--color-grey-8);
    border: 0.0625rem solid var(--color-grey-8); 
    color: var(--color-grey-2);
    border-radius: var(--radius-1);
    cursor: pointer;
}
.button-grey:hover{
    background-color: var(--color-grey-5);
    border: 0.0625rem solid var(--color-grey-5); 
    color: var(--color-grey-1);
}
.button-grey.actived{
    background-color: var(--color-actived-fixed);
    border: 0.0625rem solid var(--color-actived-fixed); 
    color: var(--color-white-fixed);
}
.button-grey.actived:hover{
    background-color: var(--color-disable-fixed);
    border: 0.0625rem solid var(--color-disable-fixed); 
    color: var(--color-white-fixed);
}
.button-grey-1{
    height: var(--gap-1);
    width: max-content;
    padding: 0 var(--gap-6);
    font-weight: var(--font-weight-2);
    font-size: var(--font-3);
    background-color: var(--color-grey-6);
    border: 0.0625rem solid var(--color-grey-6); 
    color: var(--color-grey-2);
    border-radius: var(--radius-1);
    cursor: pointer;
}
.button-grey-1:hover{
    background-color: var(--color-grey-5);
    border: 0.0625rem solid var(--color-grey-5); 
    color: var(--color-grey-1);
}
.dark-mode .button-grey{
    height: var(--gap-1);
    width: max-content;
    padding: 0 var(--gap-6);
    font-weight: var(--font-weight-2);
    font-size: var(--font-3);
    background-color: var(--color-grey-1);
    border: 0.0625rem solid var(--color-grey-1); 
    color: var(--color-grey-3);
    cursor: pointer;
}
.dark-mode .button-grey:hover{
    background-color: var(--color-grey-2);
    border: 0.0625rem solid var(--color-grey-9); 
    color: var(--color-grey-9);
}
.dark-mode .button-grey.actived{
    background-color: var(--color-grey-2);
    border: 0.0625rem solid var(--color-grey-9); 
    color: var(--color-grey-9);
}
.dark-mode .button-grey.actived:hover{
    background-color: var(--color-grey-3);
    border: 0.0625rem solid var(--color-grey-8); 
    color: var(--color-grey-8);
}
.dark-mode .button-grey-1{
    height: var(--gap-1);
    width: max-content;
    padding: 0 var(--gap-6);
    font-weight: var(--font-weight-2);
    font-size: var(--font-3);
    background-color: var(--color-grey-2);
    border: 0.0625rem solid var(--color-grey-2); 
    color: var(--color-grey-5);
    border-radius: var(--radius-1);
    cursor: pointer;
}
.dark-mode .button-grey-1:hover{
    background-color: var(--color-grey-3);
    border: 0.0625rem solid var(--color-grey-3); 
    color: var(--color-grey-4);
}