.font-title-1-bold{
    font-size: var(--font-1);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-1)
}
.font-title-1-medium{
    font-size: var(--font-1);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-1)
}
.font-title-2-bold{
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-1)
}
.font-title-2-medium{
    font-size: var(--font-2);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-1)
}
.font-text-1-bold{
    font-size: var(--font-3);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-2)
}
.font-text-1-medium{
    font-size: var(--font-3);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-2)
}
.font-text-1-regular{
    font-size: var(--font-3);
    font-weight: var(--font-weight-3);
    color: var(--color-grey-2)
}
.font-text-2-bold{
    font-size: var(--font-4);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-2)
}
.font-text-2-medium{
    font-size: var(--font-4);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-2)
}
.font-text-2-regular{
    font-size: var(--font-4);
    font-weight: var(--font-weight-3);
    color: var(--color-grey-2)
}
.dark-mode .font-title-1-bold{
    font-size: var(--font-1);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-8)
}
.dark-mode .font-title-1-medium{
    font-size: var(--font-1);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-8)
}
.dark-mode .font-title-2-bold{
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-4)
}
.dark-mode .font-title-2-medium{
    font-size: var(--font-2);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-4)
}
.dark-mode .font-text-1-bold{
    font-size: var(--font-3);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-3)
}
.dark-mode .font-text-1-medium{
    font-size: var(--font-3);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-3)
}
.dark-mode .font-text-1-regular{
    font-size: var(--font-3);
    font-weight: var(--font-weight-3);
    color: var(--color-grey-3)
}
.dark-mode .font-text-2-bold{
    font-size: var(--font-4);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-3)
}
.dark-mode .font-text-2-medium{
    font-size: var(--font-4);
    font-weight: var(--font-weight-2);
    color: var(--color-grey-3)
}
.dark-mode .font-text-2-regular{
    font-size: var(--font-4);
    font-weight: var(--font-weight-3);
    color: var(--color-grey-3)
}
a{
    text-decoration: none;
    color: var(--font-text-2)
}