.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-col {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.gap-2 {
  gap: var(--gap-2)
}
.gap-3 {
  gap: var(--gap-3)
}
.gap-4 {
  gap: var(--gap-4)
}
.gap-6 {
  gap: var(--gap-6)
}
